body {
  background: linear-gradient(to bottom, #eb87bc, #f1beda);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.flower {
  position: relative;
  width: 250px;
  height: 250px;
}

.center {
  position: absolute;
  width: 80px;
  height: 80px;
  background: gold;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.petal {
  position: absolute;
  width: 80px;
  height: 160px;
  background: white;
  border-radius: 50%;
  top: 19%;
  left: 34%;
  cursor: pointer;
  transition: opacity 0.4s;
}

.petal:hover {
  transform: scale(1.1) rotate(var(--angle));
}

.petal.removed {
  opacity: 0;
  transform: translateY(-50px) rotate(var(--angle));
}
.message{
    margin-top: 75px;
}